<nav class="bg-gray-100 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">

    <%= link_to "Event Manager", root_path, class:"text-xl font-bold text-gray-800" %>

    <div class="hidden lg:flex space-x-4">
      <% if logged_in? %>
        <div class="flex items-center gap-4">
          <%= @user.name %>
          <%= button_to 'Log-out', logout_user_path(@user), method: :delete, class: "block bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md" %>
        </div>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md" %>
        <%= link_to "Log In", login_users_path, class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md" %>
      <%end%>
    </div>
  </div>
</nav>
